mandyoc

# Ignore _build folder
_build
# Ignore the documentation building folder
docs/_build

# Ignore tests folder
tests/__pycache__/

# Ignore output when run the test 
tests/testing_data/density_* 
tests/testing_data/heat_*
tests/testing_data/pressure_*
tests/testing_data/strain_*
tests/testing_data/strain_rate_*
tests/testing_data/temperature_*
tests/testing_data/sp_surface_global_*
tests/testing_data/viscosity_*
tests/testing_data/step_*
tests/testing_data/time_*
tests/testing_data/bc_*
tests/testing_data/velocity_*

.vscode/
.DS_store

# Ignore the input file due to they can be generated using the script
examples/*/input_temperature_0.txt
examples/*/input_velocity_0.txt
examples/*/param.txt
examples/*/interfaces.txt

# Ignore some examples figures
examples/continental_rift/*.png
examples/Crameri2012_case2/interfaces.png

